<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/17d684848d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Portfolio_Prit_Patel/public/style/responsive.css">
    <link rel="stylesheet" href="/Portfolio_Prit_Patel/public/style/style.css">
    <title>Prit Patel</title>
</head>

<body>
    <div class="cursor-dot" data-cursor-dot></div>
    <header>
        <nav class="navbar bg-transparent">
            <div class="container">
                <div class="star nav_icon ">
                    <a class="nav_icon" href="/Portfolio_Prit_Patel/index.html"><i class="fa-solid fa-diamond"></i></a>
                </div>
                <div class="nav_right d-flex">
                    <div class="nav_right_content">
                        <ul class="nav_ul d-flex list-unstyled align-items-center m-0">
                            <li class="">
                                <a class="nav-link" href="/Portfolio_Prit_Patel/views/about.html">About</a>
                            </li>
                            <li class="">
                                <a class="nav-link link_hover" href="/Portfolio_Prit_Patel/views/project.html">Projects</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/Portfolio_Prit_Patel/views/education.html">Education</a>
                            </li>
                            <li>
                                <a class="nav-link " href="/Portfolio_Prit_Patel/views/contact.html">Contact</a>
                            </li>
                            <li>
                                <button class="nav_link nav_icon" id="themeToggle">
                                    <i class="fa-solid fa-circle-half-stroke nav-link"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container about_container">
        <section class="design-section">
            <h1 style="font-size: 2.5rem; font-weight: 900;">Projects.</h1>
            <div class="project_div">
                <div class="project1">
                    <h3 class="white_font pl-40">FlexFrame</h3>
                    <a href="https://prit3008patel.github.io/FlexFrame/" class="pro_div">
                        <div class="pro_div_img1 pro_div_img"><img src="/Portfolio_Prit_Patel/public/images/flexframe/1.png" alt=""></div>
                        <div class="project1_details white_font link_hover">
                            <p>Responsive Web Design Created a responsive web template suitable for desktops, tablets,
                                and
                                smartphones. Features include a clean, modern layout, mobile-first optimization,
                                cross-browser compatibility, and enhanced interactivity. Built using HTML5, CSS3,
                                Bootstrap
                                and JavaScript, showcasing adaptability and scalability for various applications.</p>
                            <i class="fa-solid fa-link"></i>
                        </div>
                    </a>
                </div>
                <div class="project2">
                    <h3 class="white_font">PixelCraft</h3>
                    <a href="https://prit3008patel.github.io/PixelCraft/" class="pro_div">
                        <div class="pro_div_img2 pro_div_img"><img src="/Portfolio_Prit_Patel/public/images/pixelcraft/1.png" alt=""></div>
                        <div class="project2_details white_font link_hover">
                            <p>Responsive Web Template Design Built a responsive web template compatible with desktops,
                                tablets, and smartphones. Features include a modern, clean design, mobile-first
                                optimization, cross-browser compatibility, and interactivity using HTML5, CSS3,
                                Bootstrap,
                                and JavaScript. Demonstrates front-end adaptability and scalability.</p>
                            <i class="fa-solid fa-link"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="see_more_about_me link_hover_see_more pt-4">
                <a class="white_font link_hover" href="/Portfolio_Prit_Patel/views/education.html">Check Out My Education
                    <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
            <div class="see_more_about_me link_hover_see_more pt-2">
                <a class="white_font link_hover" href="/Portfolio_Prit_Patel/views/contact.html">Contact Me
                    <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>
    </div>
    </section>
    </div>
    <!-- <div class="container footer_container">
        <footer>
            <div class="contact_footer">
                <div class="contact_link d-flex">
                    <div class="contact_icons contact_linkedin"><a class="link_hover contact_link_hover" href="https://www.linkedin.com/in/prit-patel-441095272/"><i
                                class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <div class="contact_icons contact_insta"><a class="link_hover contact_link_hover" href="https://www.instagram.com/prit_3008/"><i
                                class="fa-brands fa-instagram"></i></a></div>
                    <div class="contact_icons contact_git"><a class="link_hover contact_link_hover" href="https://github.com/prit3008patel"><i
                                class="fa-brands fa-github"></i></a></div>
                    <div class="contact_icons contact_mail"><a class="link_hover contact_link_hover" href="mailto:pritp3689@gmail.com"><i
                                class="fa-regular fa-envelope"></i></a></div>
                </div>
            </div>
        </footer>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="/Portfolio_Prit_Patel/index.js"></script>
</body>

</html>